<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary" 
      [disabled]='deshabilitar'
      (click)="agregarPersona()"
      >Agregar Persona</button>
      <p *ngIf="mostrar; else sinPersona">{{mensaje}} con el titulo de {{titulo}}</p>
      
      <ng-template #sinPersona>
        <p>No se ha agregado ninguna persona</p>
      </ng-template>
      
      <app-persona></app-persona>
      <br>
      <label>User input (visto como event bindig): </label>
      <input #box (keyup)="0">
      <p>{{box.value}}</p>

      <label>Two - way binding </label>
      <input type="text" class="form-control"
      [(ngModel)]="titulo"
      >
      {{titulo}}
      
    

    </div>
  </div>
</div>
